// Specific CSS for your home-page
.home-container {
  height:100%;
  width: 100vw;
  overflow: hidden;
}

.home-hero-container {
  margin: 0 auto;
  height: inherit;
  border-bottom: 5px solid black;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-hero-title {
  display: flex;
  background-color: #ff7742;
  height: 250px;
  width: 750px;
  border: 5px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 190px;
    font-weight: 900;
  }
}

.home-hero-button {
  display: flex;
  background-color: #ff7742;
  height: 80px;
  width: 250px;
  border: 5px solid black;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  h2 {
    font-weight: 900;
  }
}

.home-ducks {
  display: flex;
  justify-content: center;
  background-color: #ff7742;
  border-bottom: 5px solid black;
}

.home-ducks-bottom-container {
  display: flex;
  justify-content: center;
  background-color: #ff7742;
  border-top: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.larger-rent {
  width: 350px;
}

.duck-font {
  font-weight: 900;
  font-size: 30px;
}

.home-ducks-top,
.home-ducks-bottom {
  height: 40px;
  width: 40px;
  display: flex;
  padding-left: 5px;
}

.home-ducks-bottom {
  transform: scaleX(-1);
}

.home-ducks-top:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: clockwiseSpin;
  animation-timing-function: linear;
}

.home-ducks-bottom:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: antiClockwiseSpin;
  animation-timing-function: linear;
}


@keyframes clockwiseSpin {
  from  {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes antiClockwiseSpin {
  from  {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
