// Specific CSS for your home-page
.home-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-hero-container {
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 88%;
  height: 23vh;
  width: 100%;
  position: absolute;
}

.home-hero-title {
  display: flex;
  background-color: #ff7742;
  height: 250px;
  width: 750px;
  border: 5px solid white;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  h1 {
    font-size: 190px;
    font-weight: 900;
  }
}
.home-duck-animation {
  display: flex;
  justify-content: end;
  height: 240px;
  width: 740px;
  position: relative;
  z-index: -1;
  top: 15.4vh;
  // top: 12vh;
  left: 26vw;
  // background-color: red;
  animation: ease-in-out;
  animation: homeDuck 10s infinite;
  // animation-delay: 5s;
}

@keyframes homeDuck {
  0% {
    left: 26vw;
  }
  50% {
    left: 26vw;
  }
  75% {
    left: 36vw;
  }
  100% {
    left: 26vw;
  }
}

.home-duck-animation-img {
  height: 242px;
  // 45deg to put the transparent on the top right
  background: linear-gradient(
    45deg,
    rgba(255, 117, 66, 1) 0%,
    rgba(255, 117, 66, 1) 45%,
    rgba(255, 117, 66, 0) 75%,
    rgba(255, 209, 0, 0) 100%
  );
  border-bottom: 5px solid white;
}

.home-hero-button {
  display: flex;
  background-color: #ff7742;
  height: 80px;
  width: 250px;
  border: 5px solid black;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  transition: all 0.5s;
  h2 {
    font-weight: 900;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }
}

.home-ducks {
  display: flex;
  justify-content: center;
  background-color: #ff7742;
  border-bottom: 5px solid black;
}

.home-ducks-bottom-container {
  display: flex;
  justify-content: center;
  background-color: #ff7742;
  border-top: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.larger-rent {
  width: 350px;
}

.duck-font {
  font-weight: 900;
  font-size: 30px;
}

.home-ducks-top,
.home-ducks-bottom {
  height: 40px;
  width: 40px;
  display: flex;
  // padding-left: 5px;
  overflow: hidden;
}

.home-ducks-top:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: clockwiseSpin;
  animation-timing-function: linear;
}

.home-ducks-bottom:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: antiClockwiseSpin;
  animation-timing-function: linear;
}

@keyframes clockwiseSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes antiClockwiseSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.home-hero-button-quack {
  display: flex;
  background-color: #ffd100;
  height: 60px;
  width: 160px;
  border: 5px solid black;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  cursor: pointer;
  font-weight: 900;
  font-size: 30px;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  }
}
