<div class="drake-footer">
  <div class="footer-yellow"></div>
  <div class="footer-container-text">
  <a href="https://www.linkedin.com/in/violette-dunoyer-de-segonzac-804182189/" target="blank">
  <i class="fa-brands fa-linkedin link"></i>
  </a>
    <a href="https://www.linkedin.com/in/juanfelipeduartemontanez/" target="blank">
  <i class="fa-brands fa-linkedin link"></i>
  </a>
    <a href="https://www.linkedin.com/in/fernandogomezv/" target="blank">
  <i class="fa-brands fa-linkedin link"></i>
  </a>
  <a href="https://rubberduckdebugging.com/" target="blank">
  <i class="fa-solid fa-glasses glass"></i>
  </a>
  </div>
  <div class="footer-orange"></div>
</div>
