 <div class="nav-container">
    <div class="nav-top">
      <div class="nav-logo"></div>
      <div class="nav-title-container">
        <h1 class="nav-title-text">
          DRAKE
        </h1>
      </div>
    </div>
    <div class="nav-bottom">
      <div class="nav-orange"></div>
      <div class="nav-buttons">
        <a href="#" class="nav-button-link">HOME</a>
        <a href="#" class="nav-button-link">SIGN IN</a>
      </div>
    </div>
  </div>
