
<h1> Find your duck 🐥</h1>
<% @ducks.each do |duck| %>
<li> <%= link_to duck.name, duck_path(duck) %></li>
<% end %>
</ul>

<div class="container-page">
  <!-- main container of the card -->
  <div class="container-card">
    <!-- small container with white background -->
    <div class="container-inner">
      <!-- rubber duck image -->
      <!-- link to the show -->
      <a href="#">
        <div class="img"></div>
      </a>
      <!-- container reviews and description  -->
      <div class="container-details">
        <!-- link to the show -->
        <a href="#">
          <!-- title or name  -->
          <div class="name-duck">
            <div class="name-duck-text">
              BoB
            </div>
          </div>
        </a>
        <!-- all the details -->
        <div class="details">
          <div class="reviews">
            <p class="reviews-title">Reviews:</p>
            <div class="score">
              <img src="./images/logo-duck-1-no-background.png" alt="rubber" class="review-score">
              <img src="./images/logo-duck-1-no-background.png" alt="rubber" class="review-score">
              <img src="./images/logo-duck-1-no-background.png" alt="rubber" class="review-score">
              <img src="./images/logo-duck-1-no-background.png" alt="rubber" class="review-score">
              <img src="./images/logo-duck-1-no-background.png" alt="rubber" class="review-score">
            </div>
          </div>
          <div class="description">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero eius laborum, velit quod fuga eos
              adipisci
              omnis nobis modi aut provident laudantium vel quaerat temporibus!
            </p>
          </div>
        </div>
        <!-- location and price -->
        <div class="location-price">
          <div class="location-price-text">
            <p class="location-price-text-a">Madrid</p>
            <p class="location-price-text-a">€420</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
