<div class="home-container">
  <div class="home-ducks">
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-ducks-top"
    >
  </div>
  <div class="home-duck-animation">
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653397902/RubberDs/logo-duck-1-no-background_zf9e9q.png"
      alt="rubber"
      class="home-duck-animation-img"
    >
  </div>
  <div class="home-hero-container">
    <div class="home-hero-title">
      <h1>DRAKE</h1>
    </div>

    <div class="home-hero-button larger-rent">
      <%= link_to "Rent a Rubber Duck", ducks_path, class: "duck-font" %>
    </div>
    <div data-controller="sound">
      <audio
        src="https://res.cloudinary.com/rubberd/video/upload/v1653658833/RubberDs/Cuak-4ecbfc2d-e703-3d3f-81a1-4fef4b479a01_ytglov.mp3"
      ></audio>
    </div>

    <button id="sound" class="home-hero-button-quack">Quack!</button>

    <audio
      id="audio"
      src="https://res.cloudinary.com/rubberd/video/upload/v1653658833/RubberDs/Cuak-4ecbfc2d-e703-3d3f-81a1-4fef4b479a01_ytglov.mp3"
    ></audio>

  </div>
  <div class="home-ducks-bottom-container">
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
    <img
      src="https://res.cloudinary.com/rubberd/image/upload/v1653563547/RubberDs/logo-duck-1-no-background-mirror_bhrwro.png"
      alt="rubber"
      class="home-ducks-bottom"
    >
  </div>
</div>
