* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-page-show {
  width: 100%;
  display: flex;
  padding: 20px;
}

.left {
  width: 477px;
}

.right {
  width: 100%;
  margin-left: 40px;
}

.border-show {
  border: 5px solid #000000;
}
.description-card-show {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  height: 250px;
  padding: 15px;
}

.description-show {
  padding: 10px;
  width: 550px;
  height: 210px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.map {
  height: 600px;
  background: #ffffff;
  margin-top: 50px;
}
.rectangle {
  box-sizing: border-box;
  width: 367.87px;
  height: 250px;
  left: 703px;
  top: 38px;
  background: #ffffff;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 123px;
  line-height: 149px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.container-card-show {
  margin-top: 100px;
  width: 353px;
}

.score-show {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.review-show {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 60px;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 25px;
  border-bottom: 5px solid black;
}

.price-show {
  background-color: white;
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 5px;
  letter-spacing: 5px;

  justify-content: center;
  align-items: center;
  line-height: 50px;
  border-bottom: 5px solid black;
}

.location-price-show {
  font-size: 35px;
}

.location-icon {
  font-size: 25px;
}

.photo-container {
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
  z-index: 0;
}
.photo-show {
  width: 300px;
  height: 300px;
}

.background-orange {
  width: 300px;
  height: 300px;
  background-color: #ff7742;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 20px;
}

.photo-container-show {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 40px;
}

.reviews-title-show {
  line-height: 50px;
  font-size: 30px;
}

.duck-name-show p {
  font-size: 70px;
  font-family: "Inter", "Helvetica", "sans-serif";
  font-weight: 900;
}

.duck-name-show {
  display: flex;
  justify-items: space-around;
}

.duck-name-inside {
  width: 50%;
}

.button-show {
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Inter", "Helvetica", "sans-serif";
  letter-spacing: 5px;
  background: #ff7742;
  border: 5px solid black;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: 500ms;
}

.button-show:after {
  content: "";
  position: absolute;
  transform: translateX(-55px) translateY(-40px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 50px transparent;
  transition: 500ms;
}

.button-show:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.button-show:focus {
  outline: none;
}

.button-b {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-content: center;
}

.price-show-euro {
  background-color: white;
  letter-spacing: 5px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  font-weight: normal;
  font-size: 35px;
}

.calendar-container {
  margin-top: 25px;
  background-color: white;
  width: 100%;
  height: 370px;
  border: 5px solid black;
  padding: 15px;
}
.calendar-with {
  width: 100%;
}

#button-show-calendar {
  width: 103%;
}

.container-rating {
  background-color: white;
  width: 353px;
  height: 225px;
  border: 5px solid black;
  margin-top: 75px;
  padding: 15px;
  font-weight: 600;
}

#btn-review-show {
  width: 100%;
}

.container-comments {
  background-color: white;
  width: 100%;
  border: 5px solid black;
  padding: 15px;
  margin-top: 35px;
}

.title-rating {
  font-size: 30px;
  font-weight: 600;
}
