.container-login{
  width: 50%;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffd100;
  border: 5px solid black;
  font-size: 20px;
}

.title-login{
  font-size: 35px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

#user_email,
#user_password {
border: 5px solid black;
}

#button-login{
  border: 5px solid black;
  background-color: #ffd100;
  width: 100%;
  font-size: 20px;
  font-weight: 900;
  transition: all 0.5s ease;
  &:hover{
    transform: translate(-0px, -5px);
    border: 5px solid black;
    background-color: black;
    color: #ffd100;
  }
}

// #forgot-link{
//   border: 5px solid black;
// }
#signup-link{
  border: 5px solid black;
  background-color: #ffd100;
  font-size: 20px;
  margin-top: 15px;
  width: 100%;
  font-weight: 900;
  transition: all 0.5s ease;
  &:hover{
    transform: translate(-0px, -5px);
    border: 5px solid black;
    background-color: black;
    color: #ffd100;
  }
}

.form-inputs-login {
  font-weight: 900;
}

#forgot-link {
  font-weight: 900;
}
