

body {
  background-color: #ffd100;
}

a {
  color: black;
  text-decoration: none;
}

.nav-container {
  height: 200px;
  background-color: white;
}

.nav-top {
  display: flex;
  flex-direction: row;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.nav-logo {
  background-image: url(images/logo-duck-1-no-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 140px;
  width: 140px;
  border-right: 5px solid black;
}


.nav-title-container{
  height: 100%;
  margin: 0 auto;
}


.nav-title-text {

    font-size: 140px;
    line-height: 140px;




}

.nav-bottom {
  display: flex;
  flex-direction: row;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.nav-orange {
  background-color: #ff7742;
  height: 45px;
  width: 155px;
  border-right: 5px solid black;
}

.nav-buttons {
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.nav-button-link {
  font-size: 30px;
  line-height: 45px;
}

.nav-button-link:hover {
  transform: translate(-5px, -5px);
  color: #ff7742;
}
