.container-signup{
  width: 50%;
  margin: 30px auto;
  padding: 25px;
  background-color: #ffd100;
  border: 5px solid black;
  font-size: 20px;
}

.title-signup{
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

#button_signup{
  border: 5px solid black;
  width: 150px;
  font-size: 20px;
}

#login-link{
  border: 5px solid black;
  font-size: 20px;
  margin-top: 15px;
  width: 150px;
}

#user_password_confirmation{
  border: 5px solid black;

}

#min-characters{
  color: black;
}
