// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "flatpickr/dist/flatpickr";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "mapbox-gl/dist/mapbox-gl";
// Your CSS partials
@import "components/index";
@import "pages/index";

// COMPONENTS
